<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="navigation">
            <a href="{{ url_for('home') }}">Home</a>
            <a class="database" href="{{ url_for('database') }}">Database</a>
            <a class="logout" href="{{ url_for('logout') }}">Logout</a>
            <a class="services" href="{{ url_for('scanner') }}">Scanner</a>
        </div>
        <div class=DB_items>
        </div>
    </body>
</html>