<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="navigation">
            <a href="{{ url_for('home') }}">Home</a>
            <a class="database" href="{{ url_for('database') }}">Database</a>
            <a class="logout" href="{{ url_for('logout') }}">Logout</a>
            <a class="services" href="{{ url_for('services') }}">Services</a>
        </div>
        <script>
            $(document).ready(function(){
                var namespace='/home/services';
                var socket = io.connect('http://' + document.domain + ':' + location.port + '/home/services');

                socket.on('connect', function() {
                    console.log("Connected")
                });

                
                //If up
                
                //DNS
                socket.on('statDNSU', function(msg){
                    console.log(msg.statu);
                    $('#DNS').replaceWith('<div id="DNS"><span style="color: green">' + msg.statu + '</span></div>');
                });
                
                //DNS web
                socket.on('statDNSWU', function(msg){
                    console.log(msg.statu)
                    $('#DNS_WEB').replaceWith('<div id="DNS_WEB"<span style="color: green">' + msg.statu + '</span></div>');
                });

                //SMB
                socket.on('statSMBU', function(msg){
                    console.log(msg.statu)
                    $('#SMB').replaceWith('<div id="SMB"<span style="color: green">' + msg.statu + '</span></div>');
                });

                
                
                //If down
                
                //DNS
                socket.on('statDNSD', function(msg){
                    console.log(msg.statd);
                    $('#DNS').replaceWith('<div id="DNS"<span style="color: red">' + msg.statd + '</span></div>');
                });
                //DNS web
                socket.on('statDNSWD', function(msg){
                    console.log(msg.statd)
                    $('#DNS_WEB').replaceWith('<div id="DNS_WEB"<span style="color: red">' + msg.statd + '</span></div>');
                });
                //SMB
                socket.on('statSMBD', function(msg){
                    console.log(msg.statd);
                    $('#SMB').replaceWith('<div id="SMB"<span style="color: red">' + msg.statd + '</span></div>');
                });
            })
        </script>
        <div id="statuses">
            <!-- Statuses logged here-->
            <div id="DNS">DNS is:<span style="color: gray">...</span></div>
            <div id="DNS_WEB">DNS Web is: <span style="color: gray">...</span></div>
            <div id="SMB">SMB is:<span style="color: gray">...</span></div>
            <div style="font-size: 12px; color: gray">(updates ever 30 seconds)</div>
        </div>
    </body>
</html>